In [1]:
import pandas as pd

In [ ]:
# Read data from sheet "Data"
# Find out student age
# Calculate total marks
# Calculate percentage
# Give top 10 student Roll No, first name, last name, Total marks
# In above data add first name and last name in single column
# Give list of student whoes marks less than 50 in any subject

In [3]:
x=pd.read_excel(r"C:\Users\Rohit\Desktop\jupyterpy\Homework.xlsx",sheet_name = 'Data')

In [5]:
x

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year
3,1,Aarav,Patil,85,78,90,92,1998
4,2,Aarvi,Bhandari,90,81,85,91,2001
5,3,Aditi,Rajput,90,88,82,87,2000
6,4,Aditya,Pawar,92,88,76,91,1999
7,5,Anaya,Gawande,84,90,82,88,1997
8,6,Arjun,More,76,89,91,78,2001
9,7,Arnav,Khedkar,85,90,78,46,2000
10,8,Ayaan,Jadhav,90,75,88,84,1996
11,9,Disha,Chavan,86,83,80,89,2000
12,10,Isha,Kamble,79,76,89,92,2002
13,11,Jaya,Bhagat,92,88,76,89,1996
14,12,Jay,Bhagat,90,77,65,88,1999
15,13,Kaira,Nikam,88,80,84,90,2001
16,14,Krish,Bhosale,80,85,83,89,1999
17,15,Kunal,Kshirsagar,81,81,85,88,1995
18,16,Nikhil,Patankar,87,80,89,84,2002
19,17,Payal,Patil,89,76,87,91,1999
20,18,Pooja,Mhatre,84,79,88,92,2001
21,19,Radhika,Ghorpade,83,79,91,88,1998
22,20,Raghav,Khedekar,79,49,82,90,1996
23,21,Rahul,Kadam,81,83,84,90,1998
24,22,Reyansh,Joshi,82,80,84,85,1997
25,23,Rishabh,Ghadge,92,78,86,81,1998
26,24,Riya,Kulkarni,91,84,78,87,1997
27,25,Rohan,Suryavanshi,78,82,90,86,1996
28,26,Samarth,Shinde,43,79,87,88,2000
29,27,Shreya,Dandekar,89,75,88,90,2001
30,28,Sneha,Gokhale,88,84,90,86,2002
31,29,Tanvi,Ingale,78,77,83,92,2002
32,30,Tarun,Dhumal,82,87,44,85,2000
33,31,Tejas,Waghmare,85,82,90,85,1996
34,32,Vihaan,Deshmukh,88,81,85,89,2001
35,33,Vivaan,Nair,87,83,79,90,1996

In [ ]:
# Read data from sheet "Data"

In [7]:
x1=pd.read_excel(r"C:\Users\Rohit\Desktop\jupyterpy\Homework.xlsx",sheet_name = 'Data',skiprows=3)

In [9]:
x1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year
0,1,Aarav,Patil,85,78,90,92,1998
1,2,Aarvi,Bhandari,90,81,85,91,2001
2,3,Aditi,Rajput,90,88,82,87,2000
3,4,Aditya,Pawar,92,88,76,91,1999
4,5,Anaya,Gawande,84,90,82,88,1997
5,6,Arjun,More,76,89,91,78,2001
6,7,Arnav,Khedkar,85,90,78,46,2000
7,8,Ayaan,Jadhav,90,75,88,84,1996
8,9,Disha,Chavan,86,83,80,89,2000
9,10,Isha,Kamble,79,76,89,92,2002
10,11,Jaya,Bhagat,92,88,76,89,1996
11,12,Jay,Bhagat,90,77,65,88,1999
12,13,Kaira,Nikam,88,80,84,90,2001
13,14,Krish,Bhosale,80,85,83,89,1999
14,15,Kunal,Kshirsagar,81,81,85,88,1995
15,16,Nikhil,Patankar,87,80,89,84,2002
16,17,Payal,Patil,89,76,87,91,1999
17,18,Pooja,Mhatre,84,79,88,92,2001
18,19,Radhika,Ghorpade,83,79,91,88,1998
19,20,Raghav,Khedekar,79,49,82,90,1996
20,21,Rahul,Kadam,81,83,84,90,1998
21,22,Reyansh,Joshi,82,80,84,85,1997
22,23,Rishabh,Ghadge,92,78,86,81,1998
23,24,Riya,Kulkarni,91,84,78,87,1997
24,25,Rohan,Suryavanshi,78,82,90,86,1996
25,26,Samarth,Shinde,43,79,87,88,2000
26,27,Shreya,Dandekar,89,75,88,90,2001
27,28,Sneha,Gokhale,88,84,90,86,2002
28,29,Tanvi,Ingale,78,77,83,92,2002
29,30,Tarun,Dhumal,82,87,44,85,2000
30,31,Tejas,Waghmare,85,82,90,85,1996
31,32,Vihaan,Deshmukh,88,81,85,89,2001
32,33,Vivaan,Nair,87,83,79,90,1996

In [ ]:
# Find out student age

In [11]:
x1['Age'] = 2024 - x1['DOB Year']

In [13]:
x1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age
0,1,Aarav,Patil,85,78,90,92,1998,26
1,2,Aarvi,Bhandari,90,81,85,91,2001,23
2,3,Aditi,Rajput,90,88,82,87,2000,24
3,4,Aditya,Pawar,92,88,76,91,1999,25
4,5,Anaya,Gawande,84,90,82,88,1997,27
5,6,Arjun,More,76,89,91,78,2001,23
6,7,Arnav,Khedkar,85,90,78,46,2000,24
7,8,Ayaan,Jadhav,90,75,88,84,1996,28
8,9,Disha,Chavan,86,83,80,89,2000,24
9,10,Isha,Kamble,79,76,89,92,2002,22
10,11,Jaya,Bhagat,92,88,76,89,1996,28
11,12,Jay,Bhagat,90,77,65,88,1999,25
12,13,Kaira,Nikam,88,80,84,90,2001,23
13,14,Krish,Bhosale,80,85,83,89,1999,25
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29
15,16,Nikhil,Patankar,87,80,89,84,2002,22
16,17,Payal,Patil,89,76,87,91,1999,25
17,18,Pooja,Mhatre,84,79,88,92,2001,23
18,19,Radhika,Ghorpade,83,79,91,88,1998,26
19,20,Raghav,Khedekar,79,49,82,90,1996,28
20,21,Rahul,Kadam,81,83,84,90,1998,26
21,22,Reyansh,Joshi,82,80,84,85,1997,27
22,23,Rishabh,Ghadge,92,78,86,81,1998,26
23,24,Riya,Kulkarni,91,84,78,87,1997,27
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28
25,26,Samarth,Shinde,43,79,87,88,2000,24
26,27,Shreya,Dandekar,89,75,88,90,2001,23
27,28,Sneha,Gokhale,88,84,90,86,2002,22
28,29,Tanvi,Ingale,78,77,83,92,2002,22
29,30,Tarun,Dhumal,82,87,44,85,2000,24
30,31,Tejas,Waghmare,85,82,90,85,1996,28
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23
32,33,Vivaan,Nair,87,83,79,90,1996,28

In [ ]:
# Calculate total marks

In [15]:
x1['Total Marks'] = x1['English']+x1['Physics']+x1['Chemistry']+x1['Mathematics']

KeyError: 'Physics'

In [17]:
x1.columns

Index(['Roll No', 'First Name', 'Last Name', 'English', 'Physics ',
       ' Chemistry ', 'Mathematics', 'DOB Year', 'Age'],
      dtype='object')

In [19]:
x1['Total Marks'] = x1['English']+x1['Physics ']+x1[' Chemistry ']+x1['Mathematics']

In [21]:
x1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age,Total Marks
0,1,Aarav,Patil,85,78,90,92,1998,26,345
1,2,Aarvi,Bhandari,90,81,85,91,2001,23,347
2,3,Aditi,Rajput,90,88,82,87,2000,24,347
3,4,Aditya,Pawar,92,88,76,91,1999,25,347
4,5,Anaya,Gawande,84,90,82,88,1997,27,344
5,6,Arjun,More,76,89,91,78,2001,23,334
6,7,Arnav,Khedkar,85,90,78,46,2000,24,299
7,8,Ayaan,Jadhav,90,75,88,84,1996,28,337
8,9,Disha,Chavan,86,83,80,89,2000,24,338
9,10,Isha,Kamble,79,76,89,92,2002,22,336
10,11,Jaya,Bhagat,92,88,76,89,1996,28,345
11,12,Jay,Bhagat,90,77,65,88,1999,25,320
12,13,Kaira,Nikam,88,80,84,90,2001,23,342
13,14,Krish,Bhosale,80,85,83,89,1999,25,337
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29,335
15,16,Nikhil,Patankar,87,80,89,84,2002,22,340
16,17,Payal,Patil,89,76,87,91,1999,25,343
17,18,Pooja,Mhatre,84,79,88,92,2001,23,343
18,19,Radhika,Ghorpade,83,79,91,88,1998,26,341
19,20,Raghav,Khedekar,79,49,82,90,1996,28,300
20,21,Rahul,Kadam,81,83,84,90,1998,26,338
21,22,Reyansh,Joshi,82,80,84,85,1997,27,331
22,23,Rishabh,Ghadge,92,78,86,81,1998,26,337
23,24,Riya,Kulkarni,91,84,78,87,1997,27,340
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28,336
25,26,Samarth,Shinde,43,79,87,88,2000,24,297
26,27,Shreya,Dandekar,89,75,88,90,2001,23,342
27,28,Sneha,Gokhale,88,84,90,86,2002,22,348
28,29,Tanvi,Ingale,78,77,83,92,2002,22,330
29,30,Tarun,Dhumal,82,87,44,85,2000,24,298
30,31,Tejas,Waghmare,85,82,90,85,1996,28,342
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23,343
32,33,Vivaan,Nair,87,83,79,90,1996,28,339

In [ ]:
# Calculate percentage

In [23]:
x1['Percentage'] = (x1['Total Marks'] / 400) * 100

In [25]:
x1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age,Total Marks,Percentage
0,1,Aarav,Patil,85,78,90,92,1998,26,345,86.25
1,2,Aarvi,Bhandari,90,81,85,91,2001,23,347,86.75
2,3,Aditi,Rajput,90,88,82,87,2000,24,347,86.75
3,4,Aditya,Pawar,92,88,76,91,1999,25,347,86.75
4,5,Anaya,Gawande,84,90,82,88,1997,27,344,86.00
5,6,Arjun,More,76,89,91,78,2001,23,334,83.50
6,7,Arnav,Khedkar,85,90,78,46,2000,24,299,74.75
7,8,Ayaan,Jadhav,90,75,88,84,1996,28,337,84.25
8,9,Disha,Chavan,86,83,80,89,2000,24,338,84.50
9,10,Isha,Kamble,79,76,89,92,2002,22,336,84.00
10,11,Jaya,Bhagat,92,88,76,89,1996,28,345,86.25
11,12,Jay,Bhagat,90,77,65,88,1999,25,320,80.00
12,13,Kaira,Nikam,88,80,84,90,2001,23,342,85.50
13,14,Krish,Bhosale,80,85,83,89,1999,25,337,84.25
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29,335,83.75
15,16,Nikhil,Patankar,87,80,89,84,2002,22,340,85.00
16,17,Payal,Patil,89,76,87,91,1999,25,343,85.75
17,18,Pooja,Mhatre,84,79,88,92,2001,23,343,85.75
18,19,Radhika,Ghorpade,83,79,91,88,1998,26,341,85.25
19,20,Raghav,Khedekar,79,49,82,90,1996,28,300,75.00
20,21,Rahul,Kadam,81,83,84,90,1998,26,338,84.50
21,22,Reyansh,Joshi,82,80,84,85,1997,27,331,82.75
22,23,Rishabh,Ghadge,92,78,86,81,1998,26,337,84.25
23,24,Riya,Kulkarni,91,84,78,87,1997,27,340,85.00
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28,336,84.00
25,26,Samarth,Shinde,43,79,87,88,2000,24,297,74.25
26,27,Shreya,Dandekar,89,75,88,90,2001,23,342,85.50
27,28,Sneha,Gokhale,88,84,90,86,2002,22,348,87.00
28,29,Tanvi,Ingale,78,77,83,92,2002,22,330,82.50
29,30,Tarun,Dhumal,82,87,44,85,2000,24,298,74.50
30,31,Tejas,Waghmare,85,82,90,85,1996,28,342,85.50
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23,343,85.75
32,33,Vivaan,Nair,87,83,79,90,1996,28,339,84.75

In [ ]:
# Give top 10 student Roll No, first name, last name, Total marks

In [31]:
x1.sort_values(by = 'Total Marks')

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age,Total Marks,Percentage
25,26,Samarth,Shinde,43,79,87,88,2000,24,297,74.25
29,30,Tarun,Dhumal,82,87,44,85,2000,24,298,74.50
6,7,Arnav,Khedkar,85,90,78,46,2000,24,299,74.75
19,20,Raghav,Khedekar,79,49,82,90,1996,28,300,75.00
11,12,Jay,Bhagat,90,77,65,88,1999,25,320,80.00
28,29,Tanvi,Ingale,78,77,83,92,2002,22,330,82.50
21,22,Reyansh,Joshi,82,80,84,85,1997,27,331,82.75
5,6,Arjun,More,76,89,91,78,2001,23,334,83.50
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29,335,83.75
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28,336,84.00
9,10,Isha,Kamble,79,76,89,92,2002,22,336,84.00
13,14,Krish,Bhosale,80,85,83,89,1999,25,337,84.25
22,23,Rishabh,Ghadge,92,78,86,81,1998,26,337,84.25
7,8,Ayaan,Jadhav,90,75,88,84,1996,28,337,84.25
8,9,Disha,Chavan,86,83,80,89,2000,24,338,84.50
20,21,Rahul,Kadam,81,83,84,90,1998,26,338,84.50
32,33,Vivaan,Nair,87,83,79,90,1996,28,339,84.75
15,16,Nikhil,Patankar,87,80,89,84,2002,22,340,85.00
23,24,Riya,Kulkarni,91,84,78,87,1997,27,340,85.00
18,19,Radhika,Ghorpade,83,79,91,88,1998,26,341,85.25
26,27,Shreya,Dandekar,89,75,88,90,2001,23,342,85.50
30,31,Tejas,Waghmare,85,82,90,85,1996,28,342,85.50
12,13,Kaira,Nikam,88,80,84,90,2001,23,342,85.50
16,17,Payal,Patil,89,76,87,91,1999,25,343,85.75
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23,343,85.75
17,18,Pooja,Mhatre,84,79,88,92,2001,23,343,85.75
4,5,Anaya,Gawande,84,90,82,88,1997,27,344,86.00
10,11,Jaya,Bhagat,92,88,76,89,1996,28,345,86.25
0,1,Aarav,Patil,85,78,90,92,1998,26,345,86.25
3,4,Aditya,Pawar,92,88,76,91,1999,25,347,86.75
2,3,Aditi,Rajput,90,88,82,87,2000,24,347,86.75
1,2,Aarvi,Bhandari,90,81,85,91,2001,23,347,86.75
27,28,Sneha,Gokhale,88,84,90,86,2002,22,348,87.00

In [33]:
x1.sort_values(by = 'Total Marks',ascending=False)

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age,Total Marks,Percentage
27,28,Sneha,Gokhale,88,84,90,86,2002,22,348,87.00
2,3,Aditi,Rajput,90,88,82,87,2000,24,347,86.75
3,4,Aditya,Pawar,92,88,76,91,1999,25,347,86.75
1,2,Aarvi,Bhandari,90,81,85,91,2001,23,347,86.75
0,1,Aarav,Patil,85,78,90,92,1998,26,345,86.25
10,11,Jaya,Bhagat,92,88,76,89,1996,28,345,86.25
4,5,Anaya,Gawande,84,90,82,88,1997,27,344,86.00
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23,343,85.75
17,18,Pooja,Mhatre,84,79,88,92,2001,23,343,85.75
16,17,Payal,Patil,89,76,87,91,1999,25,343,85.75
12,13,Kaira,Nikam,88,80,84,90,2001,23,342,85.50
30,31,Tejas,Waghmare,85,82,90,85,1996,28,342,85.50
26,27,Shreya,Dandekar,89,75,88,90,2001,23,342,85.50
18,19,Radhika,Ghorpade,83,79,91,88,1998,26,341,85.25
23,24,Riya,Kulkarni,91,84,78,87,1997,27,340,85.00
15,16,Nikhil,Patankar,87,80,89,84,2002,22,340,85.00
32,33,Vivaan,Nair,87,83,79,90,1996,28,339,84.75
8,9,Disha,Chavan,86,83,80,89,2000,24,338,84.50
20,21,Rahul,Kadam,81,83,84,90,1998,26,338,84.50
13,14,Krish,Bhosale,80,85,83,89,1999,25,337,84.25
7,8,Ayaan,Jadhav,90,75,88,84,1996,28,337,84.25
22,23,Rishabh,Ghadge,92,78,86,81,1998,26,337,84.25
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28,336,84.00
9,10,Isha,Kamble,79,76,89,92,2002,22,336,84.00
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29,335,83.75
5,6,Arjun,More,76,89,91,78,2001,23,334,83.50
21,22,Reyansh,Joshi,82,80,84,85,1997,27,331,82.75
28,29,Tanvi,Ingale,78,77,83,92,2002,22,330,82.50
11,12,Jay,Bhagat,90,77,65,88,1999,25,320,80.00
19,20,Raghav,Khedekar,79,49,82,90,1996,28,300,75.00
6,7,Arnav,Khedkar,85,90,78,46,2000,24,299,74.75
29,30,Tarun,Dhumal,82,87,44,85,2000,24,298,74.50
25,26,Samarth,Shinde,43,79,87,88,2000,24,297,74.25

In [35]:
x1.iloc[0:10,[0,1,2,9]] # top 10 students

   Roll No First Name Last Name  Total Marks
0        1      Aarav     Patil          345
1        2      Aarvi  Bhandari          347
2        3      Aditi    Rajput          347
3        4     Aditya     Pawar          347
4        5      Anaya   Gawande          344
5        6      Arjun      More          334
6        7      Arnav   Khedkar          299
7        8      Ayaan    Jadhav          337
8        9      Disha    Chavan          338
9       10       Isha    Kamble          336

In [39]:
x1.columns

Index(['Roll No', 'First Name', 'Last Name', 'English', 'Physics ',
       ' Chemistry ', 'Mathematics', 'DOB Year', 'Age', 'Total Marks',
       'Percentage'],
      dtype='object')

In [ ]:
# Give list of student whoes marks less than 50 in any subject

In [57]:
x1[(x1['English'] < 50) | (x1['Physics '] < 50) | (x1[' Chemistry ']<50) | (x1[ 'Mathematics']<50 )]

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age,Total Marks,Percentage
6,7,Arnav,Khedkar,85,90,78,46,2000,24,299,74.75
19,20,Raghav,Khedekar,79,49,82,90,1996,28,300,75.00
25,26,Samarth,Shinde,43,79,87,88,2000,24,297,74.25
29,30,Tarun,Dhumal,82,87,44,85,2000,24,298,74.50

In [ ]:
# In above data add first name and last name in single column

In [59]:
x1['Full Name'] = x1['First Name'] + " " +  x1['Last Name']

In [61]:
x1

,Roll No,First Name,Last Name,English,Physics,Chemistry,Mathematics,DOB Year,Age,Total Marks,Percentage,Full Name
0,1,Aarav,Patil,85,78,90,92,1998,26,345,86.25,Aarav Patil
1,2,Aarvi,Bhandari,90,81,85,91,2001,23,347,86.75,Aarvi Bhandari
2,3,Aditi,Rajput,90,88,82,87,2000,24,347,86.75,Aditi Rajput
3,4,Aditya,Pawar,92,88,76,91,1999,25,347,86.75,Aditya Pawar
4,5,Anaya,Gawande,84,90,82,88,1997,27,344,86.00,Anaya Gawande
5,6,Arjun,More,76,89,91,78,2001,23,334,83.50,Arjun More
6,7,Arnav,Khedkar,85,90,78,46,2000,24,299,74.75,Arnav Khedkar
7,8,Ayaan,Jadhav,90,75,88,84,1996,28,337,84.25,Ayaan Jadhav
8,9,Disha,Chavan,86,83,80,89,2000,24,338,84.50,Disha Chavan
9,10,Isha,Kamble,79,76,89,92,2002,22,336,84.00,Isha Kamble
10,11,Jaya,Bhagat,92,88,76,89,1996,28,345,86.25,Jaya Bhagat
11,12,Jay,Bhagat,90,77,65,88,1999,25,320,80.00,Jay Bhagat
12,13,Kaira,Nikam,88,80,84,90,2001,23,342,85.50,Kaira Nikam
13,14,Krish,Bhosale,80,85,83,89,1999,25,337,84.25,Krish Bhosale
14,15,Kunal,Kshirsagar,81,81,85,88,1995,29,335,83.75,Kunal Kshirsagar
15,16,Nikhil,Patankar,87,80,89,84,2002,22,340,85.00,Nikhil Patankar
16,17,Payal,Patil,89,76,87,91,1999,25,343,85.75,Payal Patil
17,18,Pooja,Mhatre,84,79,88,92,2001,23,343,85.75,Pooja Mhatre
18,19,Radhika,Ghorpade,83,79,91,88,1998,26,341,85.25,Radhika Ghorpade
19,20,Raghav,Khedekar,79,49,82,90,1996,28,300,75.00,Raghav Khedekar
20,21,Rahul,Kadam,81,83,84,90,1998,26,338,84.50,Rahul Kadam
21,22,Reyansh,Joshi,82,80,84,85,1997,27,331,82.75,Reyansh Joshi
22,23,Rishabh,Ghadge,92,78,86,81,1998,26,337,84.25,Rishabh Ghadge
23,24,Riya,Kulkarni,91,84,78,87,1997,27,340,85.00,Riya Kulkarni
24,25,Rohan,Suryavanshi,78,82,90,86,1996,28,336,84.00,Rohan Suryavanshi
25,26,Samarth,Shinde,43,79,87,88,2000,24,297,74.25,Samarth Shinde
26,27,Shreya,Dandekar,89,75,88,90,2001,23,342,85.50,Shreya Dandekar
27,28,Sneha,Gokhale,88,84,90,86,2002,22,348,87.00,Sneha Gokhale
28,29,Tanvi,Ingale,78,77,83,92,2002,22,330,82.50,Tanvi Ingale
29,30,Tarun,Dhumal,82,87,44,85,2000,24,298,74.50,Tarun Dhumal
30,31,Tejas,Waghmare,85,82,90,85,1996,28,342,85.50,Tejas Waghmare
31,32,Vihaan,Deshmukh,88,81,85,89,2001,23,343,85.75,Vihaan Deshmukh
32,33,Vivaan,Nair,87,83,79,90,1996,28,339,84.75,Vivaan Nair

In [65]:
x1.to_excel(r'C:\Users\Rohit\Desktop\jupyterpy\output_files\output1.xlsx')

In [75]:
x1.to_excel(r'C:\Users\Rohit\Desktop\jupyterpy\output_files\output2.xlsx',index=False) #Index excluded